.home {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.home::before {
  content: "";
  background: url("../../public/nezuko-tanjirou-cute-kimetsu-no-yaiba-nezu-ko-tanjirou.gif") no-repeat center center fixed;
  background-size: cover;
  filter: blur(8px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.content {
  position: relative;
  z-index: 1;
}

  